
{% extends 'default_frame.twig' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.forgot.complete_title' } %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading text-dark">{{ 'front.forgot.complete_message__title'|trans }}</h4>
                <p>{{ 'front.forgot.complete_message__body'|trans|nl2br }}</p>
            </div>
        </div>
    </div>
{% endblock %}


