
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set mypageno = 'delivery' %}

{% set body_class = 'mypage' %}

{% block main %}
    {% include "Components/heading.twig" with {'title': 'front.mypage.title', 'subTitle': 'front.mypage.nav__customer_address' } %}

    {% include 'Mypage/navi.twig' %}

    <div class="row">
        <div class="col-12">
            <div class="page-account-delivery">
                <form method="post" action="?" novalidate >
                    {{ form_widget(form._token) }}
                    {# Name #}
                    {% include "Components/form/name.twig" with {'form': form} %}

                    {# Company Name #}
                    {% include "Components/form/company.twig" with {'form': form} %}

                    {# Postcode #}
                    {% include "Components/form/postcode.twig" with {'form': form} %}
                    
                    {# Address #}
                    {% include "Components/form/address.twig" with {'form': form} %}
                    
                    {# Phone #}
                    {% include "Components/form/phone.twig" with {'form': form} %}

                    {# Options Render #}
                    {% include "Components/form/options_render.twig" with {'form': form} %}
                    
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-primary">
                                {{ 'common.registration'|trans }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
