<div class="form-group row {{ custom_class }}">
  <div class="col-sm-4">
    {% block formLabel %}  {% endblock %}
  </div>
  <div class="col-sm-8">
    {% block formContent %} {% endblock %}
  </div>
</div>