<div class="feature-category">
    <div class="row mb-4">
        <h4 class="col-12 text-center pb-2">
            {{ 'front.block.category.category__en'|trans }}
        </h4>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow">
                <a href="{{ url('product_list') }}?category_id=2">
                    <img src="https://source.unsplash.com/3YsctnmJ2m8/500x350" class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Sản phẩm mới</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow">
                <a href="{{ url('product_list') }}?category_id=1">
                    <img src="https://source.unsplash.com/3U2V5WqK1PQ/500x350" class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Galeto</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow">
                <a href="{{ url('product_list') }}?category_id=5">
                    <img src="https://source.unsplash.com/rsWZ-P9FbQ4/500x350" class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Bánh mì</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
