<div class="row {{class|default('')}}">
    <div class="col-12">
        <div class="bg-danger p-2 mb-3 text-white text-center">
            <i class="fas fa-exclamation-triangle"></i>
            {{ message|trans|nl2br }}
        </div>
    </div>
</div>