<div class="row {{class|default('')}}">
    <div class="col-12">
        <h3 class="page-heading">
            {{ title|trans }}{% if subTitle is defined %} / {{subTitle|trans}}{% endif %}
        </h3>
    </div>
</div>